*{
background-color: tomato;
}
img{
    outline:black;
}
h1{
    color: crimson;
   border-color: rgba(255, 106, 0, 0.377);
   border: solid;
   display: flex;
   justify-content:center;
}

    

.menu{
    border: solid;
    display: flex;
    justify-content:end;
}

.a{
    border: solid;
    display: flex;
    justify-content:start;
}